.containerMain {
  display: flex;
  justify-content: space-between;
}

.containerRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0e5d0;
}

.containerIcon {
  background-color: #1976d2;
  padding: 15px;
  border-radius: 50px;
}

.containerForm {
  height: 300px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.containerLink {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
}

@media all and (max-width: 2560px) {
  .containerMain {
    display: flex;
    justify-content: space-around;
  }
  .containerLeft {
    background: no-repeat url("../assets/weddingCamBen.jpeg") center;
    width: 1000px;
    height: 945px;
  }
  .containerForm {
    width: 800px;
    height: 300px;
  }
}

@media all and (max-width: 1440px) {
  .containerLeft {
    background: no-repeat url("../assets/weddingCamBen.jpeg") top;
    width: 720px;
    height: 1010px;
  }
  .containerForm {
    width: 600px;
    height: 300px;
  }
}

@media all and (max-width: 1024px) {
  .containerLeft {
    background: no-repeat url("../assets/weddingCamBen.jpeg") top;
    width: 512px;
    height: 859px;
  }
  .containerForm {
    width: 450px;
    height: 250px;
  }
}

@media all and (max-width: 768px) {
  .containerLeft {
    background: no-repeat url("../assets/weddingCamBen.jpeg") top;
    width: 384px;
    height: 859px;
  }
  .containerRight {
    width: 384px;
  }
  .containerForm {
    width: 350px;
    height: 250px;
  }
}

@media all and (max-width: 425px) {
  .containerLeft {
    background: none;
    width: 0;
  }
  .containerForm {
    width: 380px;
    height: 300px;
  }
  .containerLink {
    font-size: 11px;
  }
}

@media all and (max-width: 375px) {
  .containerLeft {
    background: none;
    width: 0;
  }
  .containerForm {
    width: 350px;
  }
  .containerLink {
    font-size: 11px;
  }
}

@media all and (max-width: 320px) {
  .containerLeft {
    background: none;
    width: 0;
  }
  .containerForm {
    width: 300px;
  }
  .containerLink {
    font-size: 11px;
  }
}
